<div class="navbar">
  <div class="row">
    <div class="col-12"><h1><strong>EnverSoft Mini</strong></h1></div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-black me-1" routerLink="/"><i class="fa-solid fa-house me-1"></i>Home</button>
      <button type="button" class="btn btn-black me-1" routerLink="/suppliers"><i class="fa-solid fa-address-book me-1"></i>Suppliers</button>
      <button type="button" class="btn btn-black me-1" routerLink="/add-supplier"><i class="fa-solid fa-plus me-1"></i>Add Supplier</button>
    </div>
  </div>
</div>
